<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WebDriverFactory" type="CSF.WebDriverExtras.Config.WebDriverFactoryConfigurationSection, CSF.WebDriverExtras"/>
  </configSections>
  <WebDriverFactory AssemblyQualifiedTypeName="CSF.WebDriverExtras.Factories.ChromeDriverFactory, CSF.WebDriverExtras" />
  <!--
  <WebDriverFactory AssemblyQualifiedTypeName="CSF.WebDriverExtras.Factories.SauceConnectDriverFactory, CSF.WebDriverExtras">
    <FactoryOptions>
      <Property Name="BrowserName" Value="BROWSER" />
      <Property Name="BrowserVersion" Value="VERSION" />
      <Property Name="RemoteWebDriverAddress" Value="http://ondemand.saucelabs.com/wd/hub" />
      <Property Name="SauceConnectUsername" Value="craigfowler_screenplay" />
      <Property Name="SauceConnectApiKey" Value="SECRET" />
      <Property Name="SauceLabsBuildName" Value="Interactive build for ISSUE_NUMBER" />
    </FactoryOptions>
  </WebDriverFactory>
  -->
	<runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="nunit.framework"
                            publicKeyToken="2638cd05610744eb"
                            culture="neutral" />
          <bindingRedirect oldVersion="3.0.0.0-3.7.1.0"
                           newVersion="3.7.1.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Moq"
                            publicKeyToken="69f491c39445e920"
                            culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-4.7.25.0"
                           newVersion="4.7.25.0" />
        </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
